name: Lint & Tests

on:
  pull_request:
    branches: [ master ]

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: apps/backend

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22

      - name: Install dependencies
        working-directory: apps/backend
        run: yarn install

      - name: Run ESLint
        working-directory: apps/backend
        run: npm run cicd:lint

  unit-tests:
    name: Unit tests
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: apps/backend

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22

      - name: Install dependencies
        working-directory: apps/backend
        run: yarn install

      - name: Run tests
        working-directory: apps/backend
        run: npm run cicd:test

  e2e-tests:
    name: E2E tests
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: apps/backend
#    runs-on: self-hosted

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22

      - name: Install yarn
        run: npm install -g yarn

      - name: Install dependencies
        run: yarn install

      - name: Create .env
        run: echo "${{ secrets.ENV_FILE_E2E }}" > test/.env.e2e

      - name: Run tests
        run: npm run test:e2e
